@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "AROSE";
    src: url("./assets/fonts/AROSE.otf") format("opentype");
}

@theme {
    --font-arose: "AROSE", sans-serif;
    --color-main-100: #a60000;
}

:root {
    --text: #ffffff;
    --text-h: #ffffff;
    --bg: #000000;
    --border: #a60000;
    --code-bg: #1a0000;
    --accent: #a60000;
    --accent-bg: rgba(166, 0, 0, 0.1);
    --accent-border: rgba(166, 0, 0, 0.5);
    --social-bg: rgba(166, 0, 0, 0.08);
    --shadow:
        rgba(166, 0, 0, 0.2) 0 10px 15px -3px,
        rgba(166, 0, 0, 0.1) 0 4px 6px -2px;

    --sans: "DM Sans", system-ui, sans-serif;
    --heading: "DM Sans", system-ui, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

body {
    margin: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

body::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
}

#root {
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}
